
<app-username></app-username>
<div class="container" >
  <h1 class="text-center">Simon Royale</h1>
   
  <div id="lobby-content" class="container-fluid">
    <div id="ready-card" class="card">
      <div id="ready-card-body" class="card-body text-center">
        <div *ngIf="allPlayersReady; else waiting">
          <h4>Starting in: {{countdownTimer}}</h4>
        </div>
        <button id="ready-btn" *ngIf="player.name"class="btn" [ngClass]="playerReady ? 'btn-success': 'btn-primary'" [disabled]="allPlayersReady" (click)="toggleReady()">
          {{playerReady ? 'Cancel': 'Ready'}}
        </button>  
        <a class="btn btn-primary" *ngIf="!player.name"  data-bs-toggle="modal" href="#exampleModalToggle" role="button">Create username</a>
      </div>
    </div>
    <div id="player-list-card" class="card">
      <div class="card-header text-center">
        Players In Lobby: {{playerList.length}}
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li *ngFor="let player of playerList"
            [ngClass]="player.state == 'Ready' ? 'list-group-item-success': 'list-group-item-danger'"
            class="list-group-item">
            {{player.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #waiting>
  <h4>Waiting for all players to be ready...</h4>
</ng-template>