
<div class="modal fade in"  id="exampleModalToggle" >
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="exampleModalToggleLabel">Create username</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark text-white">
        <form class="form-group bg-dark text-white">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control bg-dark text-white" name="userName" [(ngModel)]="userName"
              minlength="3" maxlength="25" required>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]=checkButton() data-bs-dismiss="modal"
            (click)=OnCreateUsername()>Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>