<div class="container">
    <div class="row">
        <div class="quarter-yellow quarter" [ngStyle]="buttons.get('yellow')!.style" (click)="activateButton('yellow')"></div>
        <div class="quarter-green quarter" [ngStyle]="buttons.get('green')!.style" (click)="activateButton('green')"></div>       
    </div>
    <div class="row">
        <div class="quarter-red quarter"[ngStyle]="buttons.get('red')!.style" (click)="activateButton('red')"></div>
        <div class="quarter-blue quarter" [ngStyle]="buttons.get('blue')!.style" (click)="activateButton('blue')"></div>
    </div>   
</div>
<button (click)="playSequence()">click Me</button>
