.quarter{
    width: 250px;
    height: 250px;
    border: 10px solid black;
    display: inline-block;
}
// .quarter:hover{
//     background-color:white;
//     cursor: pointer;
// }
.quarter-red{
    border-bottom-left-radius:100%;
    border-top-right-radius:60%;
    background: red;   
}
.quarter-green{
    border-top-right-radius:100%;
    border-bottom-left-radius:60%;
    background: green;
}
.quarter-blue{
    border-bottom-right-radius:100%;
    border-top-left-radius:60%;
    background: blue;
}
.quarter-yellow{
    border-top-left-radius:100%;
    border-bottom-right-radius:60%;
    background: yellow;
    
}

.replay-btn{
    width: 20%;
    margin: 1em;
    background: #525252;
    color: white;
    border-radius: 8px;
}

.result-box{
    justify-content: center;
    text-align: center;
}

.badge {
    color: inherit;
}

#game-content {
    display: flex;
    height: calc(100vh - 180px);
}

#player-list-card {
    max-width: 20%;
    min-width: 300px;
    height: 100%;
}

#game-container {
    flex-grow: 1;
    display: flex;
    height: 100%;
    margin-right: 15px;
    flex-direction: column;
    //align-items: center;
    //justify-content: center;
}

#game-board {
    min-width: 550px;
}

#game-data-panel {
    justify-content: center;
    text-align: center;
    flex-basis: 20%;
}

#game-button-panel {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

