.quarter{
    width: 250px;
    height: 250px;
    border: 10px solid black;
    display: inline-block;
}
// .quarter:hover{
//     background-color:white;
//     cursor: pointer;
// }
.quarter-red{
    border-bottom-left-radius:100%;
    border-top-right-radius:60%;
    background: red;   
}
.quarter-green{
    border-top-right-radius:100%;
    border-bottom-left-radius:60%;
    background: green;
}
.quarter-blue{
    border-bottom-right-radius:100%;
    border-top-left-radius:60%;
    background: blue;
}
.quarter-yellow{
    border-top-left-radius:100%;
    border-bottom-right-radius:60%;
    background: yellow;
    
}

.result-box{
    justify-content: center;
    text-align: center;
}