<div class="container">
    <div class="row">
        <div class="quarter-yellow quarter" [ngStyle]="style_yellow" (click)="activateButton('yellow')"></div>
        <div class="quarter-green quarter" [ngStyle]="style_green" (click)="activateButton('green')"></div>       
    </div>
    <div class="row">
        <div class="quarter-red quarter"[ngStyle]="style_red" (click)="activateButton('red')"></div>
        <div class="quarter-blue quarter" [ngStyle]="style_blue" (click)="activateButton('blue')"></div>
    </div>   
</div>
<button (click)="play()">click Me</button>

